[mysqld]
user = mysql
port =3306
bind-address = 0.0.0.0
datadir = var/lib/mysql
socket = /var/run/mysqld/mysqld.socket
pid-file = /var/run/mysqld/mysqld.pid

character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci


skip_name_resolve

[client]
port = 3306
socket =/var/run/mysqld/mysqld.sock

[mysql]
default_character_set = utf8mb4